footer {
  margin-right: auto;
  position: relative;
  background-color: #242424;
  display: flex;
  margin-top: 17vh;
  color: white;
  letter-spacing: 1px;
  justify-content: space-around;
  align-items: center;
  padding: 2vh 2vh;
  background-color: black;
}
.contact {
  display: flex;
  padding: 5px 5px;
  justify-content: flex-start;
  align-items: center;
}
footer p {
  margin-left: 10px;
  /* font-family: "IBM Plex Serif", serif; */
}
.contact i:hover {
  color: rgba(25, 206, 8, 0.753);
}
.contact p:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}
.wrapper {
  height: 50px;
  width: 30vh;
  display: flex;
  bottom: 2rem;
  left: 13rem;
  justify-content: center;
}
.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 40%;
  padding: 15px;
  margin: 10px;
  width: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 2px 6px 14px 3px #000000;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #0088cc;
  color: #ffffff;
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
@media screen and (max-width: 700px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .contact {
    text-align: center;
    justify-content: center;
    margin-top: 5px;
  }
  .wrapper {
    align-self: center;
  }
}
